body {
  margin: 0 auto;
  width: 740px;
}
h1 {
  font-family: 'Lato', sans-serif;
}
h4 {
  font-family: 'Lato', sans-serif;
}
h5 {
  font-family: 'Lato', sans-serif;
}
p {
  font-size: 13px;
  font-family: 'Merriweather', serif;
}
img {
  width:740px;
  height:500px;
  padding-bottom: 0px;
  padding-top: 25px;
}

a {
  color:black;
}
a:hover {
  color:#757a82;
}
.caption1 {
  padding-top: 0px;
  color: #5c5a5a;
  font-size: 10px;
}
.caption2 {
  padding-top: 0px;
  color: #5c5a5a;
  font-size:10px;
}
.copyright {
  padding-top: 45px;
}
