body {
  text-align:center;
}
.Color1 {
  background-color:#F5C6D6;
  flex-grow: 1;
  min-height: 200px;
  margin: 25px 25px;
}

.ContainerPinker div {
  background-color:#EE2E84;
  width:275px;
  min-height: 200px;
  display: inline-flex;
  flex-direction:row;
  margin: 10px 10px;

}

.Color3 {
  background-color:#85CFD8;
  width:600px;
  min-height:200px;
  display:inline-flex;
  flex-direction: row;
  margin: 25px 25px;

}
.bothcolors {
  display:inline-flex;
  flex-direction:row;
}
.Color4 {
  background-color:#8DC63F;
  width:700px;
  min-height: 200px;
  margin: 25px 25px;
}

.Color5 {
  background-color:#E76E34;
  width:400px;
  min-height: 200px;
  margin: 25px 25px;
}
